@model PP.WaiMai.Model.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link href="~/Content/bootstrap-3.3.0/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/css/base.css" rel="stylesheet" />
    <link href="~/Content/css/account.css" rel="stylesheet" />
    <title>外卖订餐－用户注册</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="header text-center">
                <h1>
                    <a href="/" class="logo">
                        <img src="~/Content/images/logo_register.png" />
                    </a>
                </h1>
                <p class="description text-muted">欢迎加入最潮流的订餐队伍</p>
            </div>
            <div class="col-md-6 col-md-offset-3 bg-white login-wrap">
                <h1 class="h4 text-center login-title">注册新账号</h1>
                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.IPAddress);
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "required" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "真实姓名，唯一" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DepartmentType, new { @class = "required" })
                        @Html.DropDownListFor(model => model.DepartmentType, PP.WaiMai.Util.EnumHelper.GetSelectList(typeof(PP.WaiMai.Model.Enums.DepartmentTypeEnum)), "=请选择部门=", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DepartmentType)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "required" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "至少6位" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "required" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.IPAddress, new { @class = "control-label" }) &nbsp;&nbsp;
                        <label for="IPAddress" class="control-label">@Model.IPAddress</label>
                    </div>
                    <div class="form-group">
                        @Html.ValidationSummary(true)
                    </div>
                    <div class="form-group">
                        您将同意并接受<a href="#" target="_blank">《服务条款》</a>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="submit" class="btn btn-primary btn-block btn-lg" data-ref="">注册</button>
                    </div>
                }
            </div>

            <div class="text-center col-md-12 login-link">
                <a href="/account/login">账号登录</a>
                |
                <a href="/">首页</a>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
