@model FoodMenu
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        //获取响应报文成功后调用的方法
        function onSuccessed(jsonData) {
            //alert("不错");
            $.procAjaxData(jsonData, function () {
                if (jsonData.BackUrl != null) {
                    var dialog = top.dialog.get(window);
                    dialog.close(top.window.location.href);
                    dialog.remove();
                }
            });
        }
        $(function () {
            var dialog = top.dialog.get(window);
            dialog.title('增加菜单');
            $("#btn-close").click(function () {
                dialog.remove();
            });
        });
    </script>
}
@using (Ajax.BeginForm("add", "FoodMenu", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "onSuccessed" }, new { @class = "form-horizontal", role = "form", id = "SubmitForm" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.FoodMenuCategoryID, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-5">
                @Html.DropDownListFor(model => model.FoodMenuCategoryID, ViewBag.FoodMenuCategoryList as IEnumerable<SelectListItem>, "＝请选择＝", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FoodMenuCategoryID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MenuName, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.MenuName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.MenuName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-5">
                @Html.TextBoxFor(model => model.Price, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsSale, new { @class = "col-sm-3 control-label", @checked = "checked" })
            @Html.CheckBoxFor(model => model.IsSale)
        </div>
    </div>
    <div class="modal-footer fix-footer">
        <button type="button" class="btn btn-default" id="btn-close">取消</button>
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
}



