@model PP.WaiMai.Contracts.Models.Restaurant
@{
    Layout = "~/Views/Shared/_LayoutDialog.cshtml";
}
@section Scripts{
    <script type="text/javascript">
        //获取响应报文成功后调用的方法
        function onSuccessed(jsonData) {
            //alert("不错");
            $.procAjaxData(jsonData, function () {
                if (jsonData.BackUrl != null) {
                    var dialog = top.dialog.get(window);
                    dialog.close(jsonData.BackUrl);
                    dialog.remove();
                }
            });
        }
        $(function () {
            var dialog = top.dialog.get(window);
            dialog.title('增加餐厅');
            $("#btn-close").click(function () {
                dialog.remove();
            });
        });
    </script>
}
@using (Ajax.BeginForm("add", "Restaurant", new AjaxOptions() { HttpMethod = "Post", OnSuccess = "onSuccessed" }, new { @class = "form-horizontal", role = "form", id = "SubmitForm" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.RestaurantName, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.RestaurantName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.RestaurantName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SendOutCount, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.SendOutCount, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SendOutCount)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TakeoutPhone, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(model => model.TakeoutPhone, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.TakeoutPhone)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsEnable, new { @class = "col-sm-3 control-label" })
            @Html.CheckBoxFor(model => model.IsEnable)
        </div>
    </div>
    <div class="modal-footer fix-footer">
        <button type="button" class="btn btn-default" id="btn-close">取消</button>
        <button type="submit" class="btn btn-primary">保存</button>
    </div>
}



