@model IEnumerable<Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="~/Content/css/order.css" rel="stylesheet" />
}
@section Scripts{
    <script>
        //默认显示第一个tab
        $(function () {
            var showTabId = '@ViewBag.ShowTabId';
            var href = "#Restaurant_" + showTabId;
            //显示指定的tab
            if (showTabId!=''&&showTabId != '0') {
                $('#myTab a[href="' + href + '"]').tab('show')
            }
            else {
                $('#myTab a:first').tab('show')
            }
          
        })
    </script>
}
<section class="container">
    <div class="wrapper">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <strong>温馨提示：</strong> 若要取消订单，请到【管理中心】→【订单查看】里取消，谢谢。
        </div>
        <div class="alert alert-info" role="alert">
            @if (@ViewBag.IsDayMode)
            {
                <span>今日全部订餐共：<strong>@Model.Count()</strong> 份</span>
            }
            else
            {
                <span>加班全部订餐共：<strong>@Model.Count()</strong> 份</span>
            }
            <span>&nbsp;&nbsp;&nbsp;&nbsp;应付总金额：<strong>@Model.Sum(m => m.TotalPrice)</strong> 元</span>
        </div>


        <div class="bs-example bs-tabs" style="background-color:#ffffff;">
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                @foreach (var item in @ViewBag.RestaurantList)
                {
                    <li role="presentation"><a href="#Restaurant_@item.RestaurantID" role="tab" data-toggle="tab">@item.RestaurantName</a></li>
                }
            </ul>

            <div class="tab-content">
                @foreach (var item in Model.Select(m => m.FoodMenu.FoodMenuCategory.RestaurantID).Distinct())
                {
                    <div role="tabpanel" class="tab-pane" id="Restaurant_@item">
                        @Html.Partial("_OrderListPartial", Model.Where(m => m.FoodMenu.FoodMenuCategory.RestaurantID == item).ToList())
                    </div>
                }
            </div>
        </div>
    </div>
</section>
