@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/animate/animate.css" rel="stylesheet" />
<link href="~/Content/css/home.css" rel="stylesheet" />
<div class="banner" id="templatemo_banner_slide">
    <ul>
        <li class="templatemo_banner_slide_01">
            <div class="slide_caption">
                <h1 class="animated zoomIn">
                    <img src="~/Content/images/home/lovetogether.png" />
                </h1>
                <p class="animated fadeInDown">生命的轨迹中总会有孤独，有想念，还有离别，</p>
                <p class="animated fadeInDown">但是，请不要忘记，我们会一直和你在一起。</p>
                <p class="animated fadeInDown">生活再艰辛，也要记得</p>
                <p class="animated fadeInDown">按时吃饭！</p>
            </div>
        </li>
        @*<li class="templatemo_banner_slide_02">
                <div class="slide_caption">
                    <h1>Free HTML5 Template</h1>
                    <p>Nulla in nibh arcu. Donec quam neque, porta at pellentesque at, imperdiet ut velit. Pellentesque luctus ac nunc et hendrerit. Aliquam eu scelerisque eros. Vestibulum scelerisque mi nec augue condimentum rhoncus.</p>
                </div>
            </li>
                    <li class="templatemo_banner_slide_03">
                <div class="slide_caption">
                    <h1>Mobile Ready</h1>
                    <p>Cras fermentum convallis elementum. Praesent sit amet auctor erat, vitae auctor dolor. Sed viverra nunc magna, quis placerat augue pellentesque quis. Sed nec pellentesque dolor. Aenean in lectus enim. Phasellus eu egestas libero. Vivamus ultrices ligula a dapibus lobortis.</p>
                </div>
            </li>*@
    </ul>
</div>

<section class="single-page" id="templatemo_events">
    <div class="container">
        <div class="align">
            <i class="fa fa-desktop"></i>
        </div>
        <h1 id="folio-headline">请选择您喜欢的餐厅</h1>
        @{
            //由于当前只显示两个餐厅，因而，可以假设定两张图片
            int j = 0;
            List<string> imgList = new List<string>();
            imgList.Add("templatemo_event_01.jpg");
            imgList.Add("templatemo_event_02.jpg");

            foreach (var item in ViewBag.RestaurantList as List<Restaurant>)
            {
                <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">

                    <a href="/restaurant/Index/@item.RestaurantID">
                        <div class="event_box_wap event_animate_left">
                            <div class="event_box_img">
                                <img src="~/Content/images/home/@imgList[j]" class="img-responsive" alt="Web Design Trends" />
                            </div>
                            <div class="event_box_caption">
                                <h1>@item.RestaurantName</h1>
                                <p>
                                    <span class="glyphicon glyphicon-earphone">
                                    </span>&nbsp;外卖电话：@item.TakeoutPhone &nbsp;<span class="glyphicon glyphicon-saved">
                                    </span>&nbsp;起送份数：@item.SendOutCount
                                </p>
                                <p>
                                    @item.Description
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                j++;
            }
        }
        <div class="clear"></div>
    </div>
</section>

<div id="templatemo_timeline" class="container_wapper">
    <h1>吐槽轴</h1>
    <div class="container-fluid">

        @foreach (var item in ViewBag.SarcasmList)
        {
            <div class="time_line_wap">
                <div class="time_line_caption">@item.CreateTime</div>
                <div class="time_line_paragraph">
                    <p>
                        <span class="glyphicon glyphicon-user"></span>&nbsp;@item.UserName &nbsp;&nbsp;
                        <span class="glyphicon glyphicon-edit"></span><a href="#">@item.CommentCount comments</a>
                    </p>
                    <p>@Html.Raw(@item.Content)</p>
                </div>
            </div>
        }

    </div>
</div>
<div class="clear"></div>
<section id="section-3" class="subscribe-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Title -->
                <h2>Welcome advice,Your opinion is our progress</h2>
                <!-- Subscribe form -->
                <div class="row">
                    <div class="col-md-9 col-md-offset-2 col-subscribe">
                        <form role="form" action="./index.html" class="subscribe-form form-inline">
                            <!-- Input -->
                            <div class="form-group">
                                <textarea placeholder="填写意见反馈" id="exampleInputEmail1" class="form-control"></textarea>

                            </div> <!-- /.form-group -->
                            <!-- Button -->
                            <button type="submit" class="btn btn-success">提交意见</button>
                        </form> <!-- /.subscribe-form -->

                        <section class="subscribe-description">
                            <p>一切恨你，只因有你</p>

                        </section> <!-- /.subscribe-description -->

                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->

            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section><div class="clear"></div>
<script type="text/javascript">
    function dateTimeStamp(varparam) {
        var minute = 1000 * 60;
        var hour = minute * 60;
        var day = hour * 24;
        var halfamonth = day * 15;
        var month = day * 30;
        var dateTimeStamp = varparam ? Date.parse(varparam.replace(/-/gi, "/")) : new Date().getTime();

        var now = new Date().getTime();
        var diffValue = now - dateTimeStamp;

        if (diffValue < 0) {
            alert("结束日期不能小于开始日期！");
        }
        var monthC = diffValue / month;
        var weekC = diffValue / (7 * day);
        var dayC = diffValue / day;
        var hourC = diffValue / hour;
        var minC = diffValue / minute;
        if (monthC >= 1) {
            return varparam;
        }
        else if (weekC >= 1) {
            result = "发表于" + parseInt(weekC) + "个星期前";
        }
        else if (dayC >= 1) {
            result = "发表于" + parseInt(dayC) + "天前";
        }
        else if (hourC >= 1) {
            result = "发表于" + parseInt(hourC) + "个小时前";
        }
        else if (minC >= 1) {
            result = "发表于" + parseInt(minC) + "分钟前";
        } else
            result = "刚刚发表";

        return result;
    };

    $(function () {
        //$.post("/tucao/GetSarcasm", null, function (jsonData) {
        //    var html = "";
        //    var dataObj = jQuery.parseJSON(jsonData.data);
        //    $.each(dataObj, function (i, item) {
        //        html += "<div class='time_line_wap'>" +
        //                    "<div class='time_line_caption'>" + dateTimeStamp(item.CreateTime) + "</div>" +
        //                          "<div class='time_line_paragraph'><p>" +
        //                          "<span class='glyphicon glyphicon-user'></span>&nbsp;小江 &nbsp;&nbsp;" +
        //                          "<span class='glyphicon glyphicon-edit'></span>3 comments" +
        //                          "</p><p>" + item.Content + "</p>" +
        //                     "</div>" +
        //                "</div>"
        //    });
        //    $(".container-fluid").html(html);
        //}, "json");
    });
</script>
<script src="~/Content/js/jquery.singlePageNav.min.js"></script>
<script src="~/Content/js/templatemo_script.js"></script>
<script src="~/Content/js/unslider.min.js"></script>
