@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section head{
    <link href="~/Content/css/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/css/home.css" rel="stylesheet" />
}

<div class="banner" id="templatemo_banner_slide">
    <ul>
        @*<li class="templatemo_banner_slide_01">
            <div class="slide_caption">
                <h1 class="animated zoomIn">
                    <img src="~/Content/images/home/lovetogether.png" />
                </h1>
                <p class="animated fadeInDown">生命的轨迹中总会有孤独，有想念，还有离别，</p>
                <p class="animated fadeInDown">但是，请不要忘记，我们会一直和你在一起。</p>
                <p class="animated fadeInDown">生活再艰辛，也要记得</p>
                <p class="animated fadeInDown">按时吃饭！</p>
            </div>
        </li>*@
       @*<li class="templatemo_banner_slide_02">
        <div class="slide_caption">
            <h1>人生就像一场旅行</h1>
            <p>人生就像一场旅行,不必在乎目的地,在乎的,是沿途的风景,以及看风景的心情。暮暮朝朝又一载,每个人都是匆匆的行者。</p>
        </div>
    </li>*@
            <li class="templatemo_banner_slide_03">
        <div class="slide_caption">
            <h1>人生就像一场旅行</h1>
            <p>人生就像一场旅行,不必在乎目的地,在乎的,是沿途的风景,以及看风景的心情。暮暮朝朝又一载,每个人都是匆匆的行者。</p>
        </div>
    </li>
    </ul>
</div>

<section class="single-page" id="templatemo_events">
    <div class="container">
        <div class="align">
            <i class="fa fa-desktop"></i>
        </div>
        <h1 id="folio-headline">请选择您喜欢的餐厅</h1>
        @{
            //由于当前只显示两个餐厅，因而，可以假设定两张图片
            int j = 0;
            List<string> imgList = new List<string>();
            imgList.Add("templatemo_event_01.jpg");
            imgList.Add("templatemo_event_02.jpg");

            foreach (var item in ViewBag.RestaurantList as List<Restaurant>)
            {
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0">

            <a href="/restaurant/Index/@item.RestaurantID">
                <div class="event_box_wap event_animate_left">
                    <div class="event_box_img">
                        <img src="~/Content/images/home/@imgList[j]" class="img-responsive" alt="Web Design Trends" />
                    </div>
                    <div class="event_box_caption">
                        <h1>@item.RestaurantName</h1>
                        <p>
                            <span class="glyphicon glyphicon-earphone">
                            </span>&nbsp;外卖电话：@item.TakeoutPhone &nbsp;<span class="glyphicon glyphicon-saved">
                            </span>&nbsp;起送份数：@item.SendOutCount
                        </p>
                        <p>
                            @item.Description
                        </p>
                    </div>
                </div>
            </a>
        </div>
                j++;
            }
        }
        <div class="clear"></div>
    </div>
</section>

<div id="templatemo_timeline" class="container_wapper">
    <h1>吐槽轴</h1>
    <div class="container-fluid">

        @foreach (var item in ViewBag.SarcasmList)
        {
        <div class="time_line_wap">
            <div class="time_line_caption">@item.CreateTime</div>
            <div class="time_line_paragraph">
                <p>
                    <span class="glyphicon glyphicon-user"></span>&nbsp;@item.UserName &nbsp;&nbsp;
                    <span class="glyphicon glyphicon-edit"></span>@item.CommentCount comments
                </p>
                <p>@Html.Raw(@item.Content)</p>
            </div>
        </div>
        }

    </div>
</div>
<div class="clear"></div>
<section id="section-3" class="subscribe-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Title -->
                <h2>我们非常珍视您的反馈，请留下您的宝贵意见</h2>
                <!-- Subscribe form -->
                <div class="row">
                    <div class="col-md-9 col-md-offset-2 col-subscribe">
                        <div class="subscribe-form form-inline">
                            <!-- Input -->
                            <div class="form-group">
                                <textarea placeholder="填写意见反馈" id="contentMsg" name="contentMsg" class="form-control"></textarea>
                            </div> <!-- /.form-group -->
                            <!-- Button -->
                            <button type="button" class="btn btn-success sub-feedback">提交意见</button>
                        </div>
                        @*<section class="subscribe-description">
                                <p>一切恨你，只因有你</p>

                            </section>*@ <!-- /.subscribe-description -->

                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->

            </div> <!-- /.col-md-12 -->

        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
<div class="clear"></div>
@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".sub-feedback").click(function () {
                var contentMsg = $("#contentMsg").val();
                if (!contentMsg || contentMsg.length < 2) {
                    wrapper.timeoutErrDialog("反馈内容不能少于2个字符");
                    return;
                }
                $.post("/home/Feedback", { contentMsg: contentMsg }, function (jsonData) {
                    if (jsonData.State == "1") {
                        $("#contentMsg").val('');
                        wrapper.timeoutOkDialog("反馈提交成功");
                    }
                    else {
                        wrapper.timeoutErrDialog(jsonData.Msg);
                    }
                });
            });
        });
    </script>
    <script src="~/Content/js/jquery.singlePageNav.min.js"></script>
    <script src="~/Content/js/templatemo_script.js"></script>
    <script src="~/Content/js/unslider.min.js"></script>
}